{%extends 'base.html'%}

{%block body%}

    <h2>Tasks</h2>
    {% if tasks_list %}
        <ul>
            {% for task in tasks_list %}
                <li>
                    <div class="item">
                        {{ task.task }} 
                    </div>
                    <div class="state">
                        <input type="checkbox" {% if task.completed %}checked{% endif %} disabled> 
                        {% if task.completed %}Completed{% else %}Not Completed{% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tasks yet. Add a task to get started!</p>
    {% endif %}
    <a href="{{ url_for('add_task') }}"><button>Add Task</button></a>
        

{%endblock%}

